@import 'function.scss';

/* ------------------------------------
* リセット
------------------------------------ */
html { -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-box-shadow: none; box-shadow: none; outline: none; }
html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, figure, summary { padding: 0; margin: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: 700; }
br { line-height: 1em; }
ol, ul { list-style: none; }
body { line-height: 1; }
hr { box-sizing: border-box; }
img { max-width: 100%; height: auto; }
figure { line-height: 0; }
figcaption { line-height: normal; }


/* ------------------------------------
* デフォルトスタイル
------------------------------------ */
body {
    overflow-x: hidden;
    color: #{map-get($siteColor,font)};
    @include FontSize();
}
body,
.ja {
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.en {
    font-family: 'Arial';
}
.none {
    display: none !important;
}
@include spMin {
    .sp {
        display: none;
    }
}
@include spMax {
    .pc {
        display: none;
    }
}
main p a {
    word-break: break-all;
}

/*=========================*/

li, dt, dd {
    line-height: 1.4;
}
li, dt, dd, h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
}

/*=========================*/

p,
a,
dt,
dd,
li {
    letter-spacing: 0.02em;
}
strong,
span {
    letter-spacing: inherit;
}
.font-normal {
    font-weight: 400 !important;
}
.font-bold {
    font-weight: 700 !important;
}
ol {
    list-style: decimal-leading-zero;
    margin-left: 2em;
    margin-top: 20px;
    li {
        margin-top: 10px;
    }
}
dl {
    margin-top: 20px;
}
dt {
    font-weight: 700;
    color:  #{map-get($siteColor,sub)};
}
dd {
    margin-left: 1em;
    margin-top: 5px;
}

p {
    line-height: 1.6;
}
p:first-child {
    margin-top: 0;
}
@include spMax {
    p {
        margin-top: 20px;
    }
}
@include spMin {
    p {
        margin-top: 30px;
    }
    [href^="tel"] {
        pointer-events: none;
    }
}

/*=========================*/

a[href]:link {
    color: #{map-get($siteColor,sub)};
}
a[href]:visited {
    color: #{map-get($siteColor,main)};
}
a[href]:hover {
    color: #{map-get($siteColor,main)};
}
a[href]:active {
    color: #{map-get($siteColor,main)};
}
a[href]:hover > img:only-child {
    opacity: 0.6;
}
a[href=""] {
    pointer-events: none !important;
}

/*=========================*/

audio {
    width: 100%;
}
figure {
    margin-top: 30px;
    text-align: center;
}
figcaption {
    margin-top: 10px;
}
figcaption p {
    @include FontSize(12);
}
@include spMax {
    figcaption {
        text-align: left;
    }
}

/*=========================*/

.tc {
    text-align: center !important;
}
.tl {
    text-align: left !important;
}

/*=========================*/

.media-margin {
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
}

@include spMax {
    .media-margin {
        padding-right: 20px;
        padding-left: 20px;
    }
    .sp-margin {
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
    }
}

/*=========================*/

.color-main {
    color: #{map-get($siteColor,main)};
}
.color-sub {
    color: #{map-get($siteColor,sub)};
}

/*=========================*/

@include tabMin {
    main {
        padding-left: #{map-get($siteWidth,header)};
    }
}



/* ------------------------------------
* ページ
------------------------------------ */

.page-content {
    margin-bottom: 80px;
    padding-bottom: 80px;
    max-width: #{map-get($siteWidth,def)};
    margin-right: auto;
    margin-left: auto;  
}



/* ------------------------------------
* パーツ：見出し
------------------------------------ */

[data-headline-style="blog"] {
    h2 {
        @include hl_01();
    }

    h3 {
        @include hl_02();
    }

    h4 {
        @include hl_03();
    }

    h5 {
        @include hl_04();
    }

    h6 {
        @include hl_05();
    }
}

[data-headline-style="page"] {
    h2 {
        @include hl_02();
    }
    h3 {
        @include hl_03();
    }
    ul {
        margin-top: 20px;
        list-style: circle;
        margin-left: 2em;
        li {
            margin-top: 10px;
        }
    }
}

[data-headline-style="novel"] {
    p {
        margin-top: 40px;
    }
    p:first-child {
        margin-top: 0 !important;
    }
    .m-l {
        margin-top: 120px;
    }
}

[data-headline-style="error"] {
    h2 {
        @include FontSize(50);
        text-align: center;
        padding-bottom: 60px;
    }

    @include spMax {
        h2 {
            @include FontSize(26);
            padding-bottom: 110px;
        }
    }
}




/* ------------------------------------
* パーツ：リスト
------------------------------------ */
.parts-list_01 {
    text-align: center;
  
    li {
      display: inline-block;
      margin-top: 5px;
      &::after {
        content: '\002F';
        padding-left: .5em;
        padding-right: .5em;
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }
  
    a[href] {
      color: #{map-get($siteColor,font)} !important;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
}


@include spMax {
    .parts-list_01[data-sp-text-align="left"] {
        text-align: left;
    }
}


/* ------------------------------------
* パーツ：ボタン
------------------------------------ */
.parts-btn_01 {
    @include btn_01();
}